.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px ;
  width: 100%;
  margin: 0 80px;
}