.link {
  color: inherit;
  text-decoration: none;
  position: relative;
}

 .link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  border-bottom: 1.5px solid #dc5dfc;
  transition: width 0.5s ease-in-out;
}


/* .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header__wrapper.center {
  display: block;
}


.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.3;
  }
}

.menu__desktop {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 0 40px;
}

.menu__mobile {
  display: none;
}

.menu__mobile_info {

  display: flex;

  gap: 20px;
}

.menu__mobile_info.center {
  width: 100%;
  justify-content: center;
}

.icon {
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.3;
  }
}

/*Стили для Login/Register*/
.auth__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.auth__logo {
  max-width: 180px;
  margin-bottom: 40px;
}

.authInput__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-bottom: 24px;
}

.auth__link {
  width: 100%;
  max-width: 100%;
}


.auth__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--content-black);
  margin-top: 24px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

/*Стили для Register*/
.regitser__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--content-black);
  margin-bottom: 24px;
}

/*Стили для RegisterOK*/
.registerOK__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--content-black);
  margin-bottom: 24px;
}

@media only screen and (max-width:1300px) {
  .logo__img {
    max-width: 100%;
    max-width: 120px;
  }

  .menu__desktop {
    display: none;
  }

  .menu__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

}