.btn__film {
    border: 1px solid var(--content-placeholder);
    border-radius: 28px;
    width: 183px;
    height: 56px;
    background: var(--background-secondary);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-primary);
    transition: all 0.3s ease-in-out;
    &:hover {
        background: var(--background-black-disabled);
    }
}