.item {
display: flex;
justify-content: space-between;
max-width: 500px;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
color: var(--content-primary);
}

.item p:first-child::after {
    stroke-width: 1px;
    stroke: var(--content-disabled);
    content: '...'; /* Многоточие */
    margin: 0 10px;
    flex-shrink: 0; /* Не даёт сжаться многоточию */
}