
.btn {
    position: relative;  /* Для позиционирования псевдоэлемента */
    color: inherit;
    background-color: inherit;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--content-active);
    }


}