.main {
    flex: 1;
    margin-bottom: 160px;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: var(--content-primary);
    margin: 65px 0;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}

.link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    max-width: 290px;
    height: 50px;
    box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
    background: var(--background-black);
}


.imges {
margin-bottom: 22px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--content-primary);
}

@media only screen and (max-width:600px) {
    .title {
        font-size: 24px;
    }

}