.btn {
    border-radius: 28px;
    /* padding: 16px 48px; */
    width: 100%;
    max-width: 218px;
    height: 56px;
    background: var(--background-brand-active);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-primary);

    &:hover {
        background: var(--background-brand-disabled);
    }
    &:active {
        background: var(--background-brand-hovered);
    }
}