.input__menu {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    max-height: 50px;
    background: var(--background-secondary);
}

.input__img {
    fill: var(--content-disabled);
    margin-right: 12px;
}

.input__serch {
    background-color: inherit;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-disabled);
}