.main {
    flex: 1;
    margin-bottom: 160px;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: var(--content-primary);
    margin: 65px 0;
}

.userControl {
    display: flex;
    gap: 65px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--background-white);
    margin-bottom: 65px;
}

.mobile {
    display: none;
}

.link {
    position: relative;
  }

  .link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1.5px;
    border-bottom: 1.5px solid #dc5dfc;
    transition: width 0.5s ease-in-out;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 65px;

  }

@media only screen and (max-width:620px) {
    .title {
        font-size: 24px;
        line-height: 133%;
        margin: 40px 0;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .userControl {
        gap: 5px;
        font-size: 20px;
    }
}