.favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--content-placeholder);
    border-radius: 28px;
    /* padding: 16px 48px; */
    width: 68px;
    height: 56px;
    background: #333;
}